<div class="w-75 mx-auto rounded-3 border p-4 my-5 shadow-lg bg-white">
  <h2 class="text-center fw-bold mb-4 text-primary">Login Now</h2>

  <form [formGroup]="loginForm" (ngSubmit)="sendLoginData()">
    <!-- Email Input -->
    <div class="mb-3">
      <label for="email" class="form-label fw-semibold">Email Address</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        class="form-control"
        placeholder="name@example.com"
      />
    </div>

    @if (
      loginForm.get("email")?.errors &&
      (loginForm.get("email")?.touched || loginForm.get("email")?.dirty)
    ) {
      <div class="text-white p-1 small bg-danger rounded shadow-lg"role="alert">
        @if (loginForm.get("email")?.getError("required")) {
          <p>email is required</p>
        } @else if (loginForm.get("email")?.getError("email")) {
          <p>email must be valid</p>
        }
      </div>
    }

    <!-- Password Input -->
    <div class="mb-3">
      <label for="password" class="form-label fw-semibold">Password</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        class="form-control"
        placeholder="••••••••"
      />
    </div>
    @if (
      loginForm.get("password")?.errors &&
      (loginForm.get("password")?.touched ||
        loginForm.get("password")?.dirty)
    ) {
      <div class="text-white p-1 my-2 small bg-danger rounded shadow-lg"role="alert">
        @if (loginForm.get("password")?.getError("required")) {
          <p>password is required</p>
        } @else if (loginForm.get("password")?.getError("pattern")) {
          <p>
            Password must start with an uppercase letter and contain 6 to 11
            characters using only lowercase letters and numbers.
          </p>
        }
      </div>
    }

    <!-- Submit Button -->

    <button
      [disabled]="loginForm.invalid ||isLoading"
      type="submit"
      class="btn btn-primary w-100 py-2 fw-bold shadow-sm"
    > Login Now 
      @if (isLoading) {
        <i class="fas fa-spinner fa-spin"></i>
      } 
    </button>
    @if (errorMessage) {
      <div class="alert alert-danger mt-3" role="alert">
        {{ errorMessage }}
      </div>
    }
  </form>
</div>
